[submodule "m1n1"]
	path = m1n1
	url = https://github.com/pipcet/m1n1
	branch = pearl
[submodule "preloader-m1"]
	path = preloader-m1
	url = https://github.com/pipcet/preloader-m1
	branch = pearl
[submodule "linux"]
	path = linux
	url = https://github.com/pipcet/linux
	branch = pearl
[submodule "mesa"]
	path = mesa
	url = https://github.com/pipcet/mesa
	branch = pearl
[submodule "busybox"]
	path = busybox
	url = https://github.com/pipcet/busybox
	branch = pearl
[submodule "kexec-tools"]
	path = kexec-tools
	url = https://github.com/pipcet/kexec-tools
	branch = pearl
[submodule "m1lli"]
	path = m1lli
	url = https://github.com/pipcet/m1lli
	branch = pearl
